.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 120px;
}

li {
  background-color: #20232a;
  padding: 12px;
  margin-bottom: 3px;
  text-align: left;
  width: 100px;
  border: 1px solid #999
}

ul ul {
  padding-left: 35px;
}

